<!DOCTYPE html>
<html>
<head>
    <title>IT Support System</title>
</head>
<body>
    <h1>Tickets</h1>

    <a href="/create">Create Ticket</a>

    <ul>
        {% for ticket in tickets %}
            <li>
                [{{ ticket['priority'] }}] 
                {{ ticket['issue_type'] }} - 
                {{ ticket['description'] }}
                <br>
                <strong>Diagnosis:</strong> {{ ticket['diagnosis'] }}
            </li>
        {% endfor %}
    </ul>

    <!-- ADD BUTTON HERE -->
    <br>
    <a href="/fix">
        <button>Fix Issues</button>
    </a>
    <br>
    <a href="/logs">
    <button>View Logs</button>
    </a>

</body>
</html>